.header{
  height: 80px;
  background: #212121;
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  position:fixed;
  top:0;
  width:100%;
  font-size:24px;
  text-align:center;
  letter-spacing: 2px;
  z-index:1
}
.contain{
  position: relative;
  top:80px;
}
.contain .add{
  position: relative;
  display: inline-block;
  width:40%;
  height: 128px;
  text-align: center;
}

.add-circle{
  color: #FD2249;
  font-size: 46px;
}
